<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Task quizful.net">
	<test name="test">
		<groups>
		<!-- positive, negative, email, password -->
			<run>
				<include name="password"/>
			</run>
		</groups>
		<classes>
			<class name="by.htp.quizfullTask.QuizfullTest" />
		</classes>
	</test>
</suite>