<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Task quizful.net">
	<test name="Chrome test">
	<!-- chrome, mozilla, iexplorer -->
	<parameter name="browser" value="iexplorer"/>
		<groups>
		<!-- positive, negative, email, password -->
			<run>
				<include name="email1"/>
			</run>
		</groups>
		<classes>
			<class name="by.htp.quizfullTask.QuizfullTest" />
		</classes>
	</test>
</suite>